// == Colors
$brand-j2s: #C6CCAE;
$brand-manga: #282930;
$brand-video: #252A57;

$brand-light: #F6F6F6;
$brand-dark: #555555;

$brand-text: #555555;

//Screen width
$min-xs: 480px;
$max-xs: 767px;
$min-sm: 768px;
$max-sm: 991px;
$min-md: 992px;
$max-md: 1199px;
$min-lg: 1200px;


// == Taille
// $header-height-huge: 190px;

// Container
// $container: 1200px;
